@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  font-family: "Josefin Sans";
  color: #FFF;
  text-align: center;
  background-color: #592838;
  color: white
}

.search-area {
  background-color: grey;
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius 10px;
}

ul#wikilist {
  list-style: none;
  padding: 0;
}

ul#wikilist li {
  background-color: #46659F;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}

a:link, a:visited, a:hover, a:active {
  color: #FFF;
  text-decoration: none;
}

.container {
  min-height: calc(100vh - 140px);
}
